.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25em;
  min-height: 25em;
}

.product-details__loader,
.product-details__error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 25em;
}
