.products-categories__container {
  display: flex;
  position: relative;
  top: 8em;
}

.products-categories__left-side {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 6.5em;
  width: 21em;
  height: calc(100vh - 6.5em);
  background-color: rgba(var(--color-light), 1);
  border-right: 1px solid rgba(var(--color-border-200), 1);
}

.products-categories__right-side {
  background-color: rgba(var(--color-gray-100), 1);
  width: 100%;
  min-height: calc(100vh - 6.5em);
  flex-grow: 1;
}

@media (min-width: 1024px) {
  .products-categories__container {
    top: 0;
  }
}
