.login-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 2em;
  overflow: hidden;
}

.login-form__header p,
.login-form__footer p,
.login-form__footer a {
  font-size: 1rem;
  text-align: center;
  color: rgba(var(--text-base), 1);
}

.login-form__header {
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__logo {
  width: 60%;
}

.login-form__logo img {
  width: 100%;
}

.login-form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form__content form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 1.5em;
}

.login-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.login-form__footer p,
.login-form__footer span {
  font-size: 1rem;
}

.login-form__footer span,
.login-form__content form a,
.login-form__content form svg {
  color: rgba(var(--color-accent), 1);
}

.login-form__footer span {
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal__container.login-form-modal {
    max-width: 30em;
  }
}
