.nav-actions-mobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  gap: 1em;
  padding: 0 var(--main-padding-sides);
  border-top: 1px solid rgba(var(--color-border-200), 1);
  background-color: rgba(var(--color-light), 1);
  z-index: 1;
}

.nav-actions-mobile__items {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.nav-actions-mobile__item {
  list-style: none;
}

.nav-actions-mobile__button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
}

.nav-actions-mobile__button svg {
  color: rgba(var(--text-base-dark), 1);
  transition: all 0.2s ease-in;
}

.nav-actions-mobile__item svg {
  font-size: 1.5rem;
}

.nav-actions-mobile__button:active svg,
.nav-actions-mobile__button:hover svg {
  color: rgba(var(--color-accent), 1);
}
